<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Formulário de pagamento</title>
	<script src="https://sdk.mercadopago.com/js/v2"></script>
	<th:block th:include="~{fragments/base::head}">/>
</head>

<body>

	<header>
		<div th:replace="~{fragments/base::cabecalho}"></div>
	</header>
	<main>
		<h1>Escolha o modo de paagr</h1>
		<h2>Checkout PRO</h2>
		<div sec:authorize="isAuthenticated()">
			<div sec:authorize="hasAuthority('ADM')">
				<div id="wallet_container"></div>
			</div>
		</div>
		<div>
			<form th:action="@{/pagamento/checkout-transparente}" th:object="${show}" method="post">
				<input type="hidden" name="idShow" th:field="*{id}">
				<button type="submit" class="btn btn-primary">
					Checkout Transparente</button>
			</form>
		</div>
	</main>
	<div th:replace="~{fragments/base::rodape}"></div>
	<script th:inline="javascript">
		const mp = new MercadoPago('TEST-3d723a4d-ecdf-4c91-bf1a-b89b4efa37c4');
		const preferenceId = /*[[${preferenceId}]]*/'default';
		mp.bricks().create("wallet", "wallet_container", {
			initialization: {
				preferenceId: preferenceId,
			},
		});
	</script>
</body>

</html>