<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Formulário de pagamento Checkout Transparente</title>
	<script src="https://sdk.mercadopago.com/js/v2"></script>
	<script src="https://www.mercadopago.com/v2/security.js" view=""></script>
	<th:block th:include="~{fragments/base::head}">/>
		<style>
			#form-checkout {
				display: flex;
				flex-direction: column;
				max-width: 600px;
			}

			.container {
				height: 18px;
				display: inline-block;
				border: 1px solid rgb(118, 118, 118);
				border-radius: 2px;
				padding: 1px 2px;
			}
		</style>
</head>

<body>

	<header>
		<div th:replace="~{fragments/base::cabecalho}"></div>
	</header>
	<main>
		<h1>Pagamento com Checkout Transparente</h1>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" id="cartao" onChange="onClickCheckbox(this);"
				name="formaPagamento" value="cartao" checked> <label class="form-check-label" for="cartao">Cartão de
				crédito</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" id="pix" onChange="onClickCheckbox(this);"
				name="formaPagamento" value="pix">
			<label class="form-check-label" for="pix">PIX</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" id="boleto" onChange="onClickCheckbox(this);"
				name="formaPagamento" value="boleto"> <label class="form-check-label" for="boleto">Boleto</label>
		</div>

		<form id="form-checkout">
			<div class="form-group">
				<input type="text" class="form-control" name="cardNumber" id="form-checkout__cardNumber" />

			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="cardExpirationMonth"
					id="form-checkout__cardExpirationMonth" /> <input type="text" class="form-control"
					name="cardExpirationYear" id="form-checkout__cardExpirationYear" />
			</div>

			<div class="form-group">
				<input type="text" class="form-control" name="cardholderName" id="form-checkout__cardholderName" />
			</div>

			<div class="form-group">
				<input type="email" class="form-control" name="cardholderEmail" id="form-checkout__cardholderEmail" />
				<input type="text" class="form-control" name="securityCode" id="form-checkout__securityCode" />
			</div>

			<div class="form-group">
				<select name="issuer" id="form-checkout__issuer"></select> <select name="identificationType"
					id="form-checkout__identificationType"></select>
				<input type="text" name="identificationNumber" id="form-checkout__identificationNumber" /> <select
					name="installments" id="form-checkout__installments"></select>
			</div>

			<button class="btn btn-primary" type="submit" id="form-checkout__submit">Pagar</button>

		</form>

		<div th:replace="~{fragments/formulario-pix}"></div>

		<input type="hidden" id="mpPublicKey" th:value="${mpPublicKey}" />
	</main>
	<script th:inline="javascript">
		document.getElementById('form-checkout-pix').style.display = "none";
		document.getElementById("form-checkout-pix").addEventListener("submit", function (e) {
			e.preventDefault();
			realizaPagamento(document.getElementById('pix').value);
		});
		const mpPublicKey = document.getElementById("mpPublicKey").value;
		const mp = new MercadoPago(mpPublicKey);
		const cardForm = mp.cardForm({
			amount: '500.0',
			autoMount: true,
			form: {
				id: "form-checkout",
				cardholderName: {
					id: "form-checkout__cardholderName",
					placeholder: "Nome do cartão",
				},
				cardholderEmail: {
					id: "form-checkout__cardholderEmail",
					placeholder: "E-mail",
				},
				cardNumber: {
					id: "form-checkout__cardNumber",
					placeholder: "Número do cartão",
				},
				cardExpirationMonth: {
					id: "form-checkout__cardExpirationMonth",
					placeholder: "MM",
				},
				cardExpirationYear: {
					id: "form-checkout__cardExpirationYear",
					placeholder: "YY",
				},
				securityCode: {
					id: "form-checkout__securityCode",
					placeholder: "Código de segurança",
				},
				installments: {
					id: "form-checkout__installments",
					placeholder: "Parcelas",
				},
				identificationType: {
					id: "form-checkout__identificationType",
				},
				identificationNumber: {
					id: "form-checkout__identificationNumber",
					placeholder: "Número do documento",
				},
				issuer: {
					id: "form-checkout__issuer",
					placeholder: "Issuer",
				},
			},
			callbacks: {
				onFormMounted: error => {
					if (error)
						return console.warn("Form Mounted handling error: ", error);
					console.log("Form mounted");
				},
				onSubmit: event => {
					event.preventDefault();

					const {
						paymentMethodId,
						issuerId,
						cardholderEmail: email,
						amount,
						token,
						installments,
						identificationNumber,
						identificationType,
					} = cardForm.getCardFormData();

					fetch("/pagamento-rest/pagar-por-cartao", {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({
							token,
							issuerId,
							paymentMethodId,
							transactionAmount: Number(amount),
							installments: Number(installments),
							description: "produto muito bom",
							payer: {
								email,
								identification: {
									type: identificationType,
									number: identificationNumber,
								},
							},
						}),
					})
						.then(response => {
							return response.json();
						})
						.then(result => {
							window.location.href = '/';
						})
						.catch(error => {
							alert("Ocorreu um erro na compra\n" + JSON.stringify(error));
						});
				},
				onFetching: (resource) => {
					console.log("Fetching resource: ", resource);
					const payButton = document.getElementById("form-checkout__submit");
					payButton.setAttribute('disabled', true);
					return () => {
						payButton.removeAttribute("disabled");
					};
				},
			},
		});

		function onClickCheckbox(checkbox) {
			switch (checkbox.value) {
				case 'cartao':
					document.getElementById('form-checkout-pix').style.display = "none";
					document.getElementById('form-checkout').style.display = "block";
					break;
				case 'pix':
					document.getElementById('form-checkout-pix').style.display = "block";
					document.getElementById('form-checkout').style.display = "none";
					break;
				case 'boleto':
					break;
			}
		}

		function realizaPagamento(tipo) {
			const nome = document.getElementById("form-checkout-pix_nome").value;
			const sobrenome = document.getElementById("form-checkout-pix_sobrenome").value;
			const email = document.getElementById("form-checkout-pix_email").value;
			const tipoIdentificacao = document.getElementById("form-checkout-pix_tipoIdentificacao").value;
			const numeroIdentificacao = document.getElementById("form-checkout-pix_numeroIdentificacao").value;
			fetch("/pagamento-rest/pagar-por-pix", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					basicInformationDTO: {
						paymentMethodId: tipo,
						description: "produto muito bom",
						transactionAmount: Number('300.50'),
						payer: {
							email: "joaquim@hotmail.com",
							identification: {
								type: tipoIdentificacao,
								number: numeroIdentificacao,
							},
						},
					}
				}),
			})
				.then(response => {
					//	return response.json();
				})
				.then(result => {
					window.location.href = '/';
				})
		}

	</script>
	<div th:replace="~{fragments/base::rodape}"></div>
</body>

</html>