<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Formulário de pagamento Checkout Transparente</title>
	<script src="https://sdk.mercadopago.com/js/v2"></script>
	<th:block th:include="~{fragments/base::head}">/>
</head>

<body>

	<header>
		<div th:replace="~{fragments/base::cabecalho}"></div>
	</header>
	<main>
		<h1>Pagamento com Checkout Transparente</h1>
		<form>
			<input class="form-control" placeholder="Número do cartão">
			
		</form>
	</main>
	<div th:replace="~{fragments/base::rodape}"></div>
</body>

</html>